<!doctype html>
<html>
<head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ content_for_header }} <!-- Header hook for plugins -->

    {% include 'head-embed' %}

    {{ 'application.scss.css' | asset_url | stylesheet_tag }}

</head>
<body class="template-{{ template | split: '.' }}">

  <header>
    <div class="topbar">
      <p class="mb-0">Free Delivery in the UK</p>
    </div>
    <div class="header container pos-rel">
      <div class="row">
        
        <div class="header__menu col-auto">
          <div class="header__menu-inner js-toggle-nav">
            <span class="letter letter--1">m</span>
            <span class="letter letter--2">e</span>
            <span class="letter letter--3">n</span>
            <span class="letter letter--4">u</span>
          </div>
        </div>

        <a href="/" class="header__logo pos-abs text-center">
          <img src="https://cdn.shopify.com/s/files/1/0482/7077/0326/files/logo-no-strapline.jpg?v=1605481766" alt="Take Eight">
        </a>
  
        <div class="header__right col-auto">
            <a class="header__cart" href="/cart">
                <span class="text">CART</span>
                <div class="count js-cart-count">{{ cart.item_count }}</div>
            </a>
  
            <!-- {% if shop.customer_accounts_enabled %}
              {% if customer %}
                <a href="/account">account</a>
                {{ 'log out'  | customer_logout_link }}
              {% else %}
                {{ 'log in ' | customer_login_link }}
                {{ 'register' | customer_register_link }}
              {% endif %}
            {% endif %} -->
        </div>

      </div>
    </div>
  </header>
      
  <main role="main">
    {{ content_for_layout }}

    <footer class="pos-rel bg__light{% if template == 'cart' %} bg__white{% endif %}">
      <div class="footer container">
        <h2 class="c__marquee js-marquee">Take Eight. Sleep Deep. Level Up.</h2>
        <div class="row justify-content-lg-between">
          
          <div class="col-lg-5 order-lg-2">
            <!-- Newsletter -->
            <form action="https://gmail.us20.list-manage.com/subscribe/post?u=9982c6079ccf540f8a5abde18&amp;id=543df188b8" target="_blank" method="post" class="footer__newsletter">
              <p>Subscribe to the newsletter</p>
              <div class="row">
                <div class="col-md-6 pr-md-1">
                  <input type="text" placeholder="First name" name="FNAME">
                </div>
                <div class="col-md-6 pl-md-1">
                  <input type="text" placeholder="Last name" name="LNAME">
                </div>
                <div class="col-md-6 pr-md-1">
                  <input type="email" placeholder="Email*" name="EMAIL" required>
                </div>
                <div class="col-md-6 pl-md-1">
                  <input type="submit" value="Subscribe">
                </div>
              </div>
            </form>
          </div>
          
          <div class="col-lg-4 order-lg-1">
            <div class="footer__links">
              {% for link in linklists.footer.links %}
                <a class="link" href="{{ link.url }}">{{ link.title }}</a>
              {% endfor %}
            </div>
            <div class="footer__logo">
              <!-- <img src="{{ 'logo.svg' | asset_url }}" alt="Take Eight"> -->
              <h4>Take</br>Eight</h4>
            </div>
            <p class="footer__copyright">&copy; Take Eight {{ 'now' | date: "%Y" }}</p>
          </div>
    
        </div>
      </div>
    </footer>
  </main>

  {% include 'nav' %}
  {% include 'footer-embed' %}
</body>
</html>
