{% assign number_of_comments = article.comments_count %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count %}
{% endif %}

<section class="article">

  {% if article.image %}
    <div class="page-hero container-fluid px-0">
      <div class="row">
        <div class="col">
          <div class="c__prlx-wrap">
            <img class="c__prlx-img u__obj-fit js-prlx-img" src="{{ article | img_url: '1200x600' }}" alt="{{ article.title }}">
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="article__content container">
    <div class="row justify-content-lg-center">
      <div class="col-lg-7">
        
        <h1 class="mb-4">{{ article.title }}</h1>
        <!-- {% capture author %}<strong>{{ article.author }}</strong>{% endcapture %} -->
        <!-- {% capture date %}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>{% endcapture %} -->
        <!-- {{ article.author }} @ {{ article.created_at }} -->

        <div>{{ article.content }}</div>

        <!-- {% if blog.comments_enabled? %}
          <h2>{{ number_of_comments }} comments</h2>
          {% paginate article.comments by 5 %}
            {% for comment in article.comments %}
              <div>
                <div>{{ comment.content }}</div>
                {{ comment.author }} @ {{ comment.created_at }}
              </div>
            {% endfor %}
            {% if paginate.pages > 1 %}
              {{ paginate | default_pagination }}
            {% endif %}
          {% endpaginate %}

          <div>
            {% form 'new_comment', article %}
              {{ form.errors | default_errors }}
              <label for="CommentAuthor">name</label>
              <input type="text" name="comment[author]" id="CommentAuthor" placeholder="name" value="{{ form.author }}" autocapitalize="words">

              <label for="CommentEmail">email</label>
              <input type="email" name="comment[email]" id="CommentEmail" placeholder="email" value="{{ form.email }}" autocorrect="off" autocapitalize="off">

              <label for="CommentBody">message</label>
              <textarea name="comment[body]" id="CommentBody" placeholder="message">{{ form.body }}</textarea>

              <input type="submit" value="post">
            {% endform %}
          </div>
        {% endif %} -->
      </div>
    </div>
  </div>
</section>

{% section 'hw-image-text' %}

